In [3]:
# single line comment

'''multi
line
comment - works only in .py files not ipynb files'''

'multi\nliiiii\ncomment '

In [5]:
a = 10;b = 8; c = a+b
print(c)

18

In [12]:
#  if statement
if True:
    print("inside if block")
    if False:
        print("false block")
    print("still inside if block")   

print("outside the if block")

inside if block
still inside if block
outside the if block

In [14]:
name = "Mitali"
letter = 'a'

print("Name is: ", name)
print("Letter is: ", letter)

Name is:  Mitali
Letter is:  a

str

In [22]:
# finding type of a variable, converting var from one type to another

type(name)
age = 25
age_str = str(age)
print(age_str)
print(type(age_str))

age = '200'
age_int = int(age)
print(age_int)
print(type(age_int))

25
<class 'str'>
200
<class 'int'>

In [23]:
# input function takes default value as str datatype only

age = input("Enter age: ")
print(age)
print(type(age))

31
<class 'str'>

In [1]:
# typecasting

name = "Mitali" + str("55")
print(name)

Mitali55

In [3]:
# Arithmetic Operators

a = 13
b = 5

add = a+b
sub = a-b
multiply = a*b
div = a/b
mod = a%b
expo = a**b
floor = a//b

print(add)
print(sub)
print(multiply)
print(div)
print(mod)
print(expo)
print(floor)

18
8
65
2.6
3
371293
2

In [23]:
test = range(1, 10, 2)
test2 = range(10, 1, -2)
# range(start, stop, step)
print(type(test))
for i in test2:
    print(i)


print()

str = "Mitali"
for i in str:
    print(i)


for i in range(10):
    print(i)
    if i == 5:
        break

<class 'range'>
10
8
6
4
2

M
i
t
a
l
i
0
1
2
3
4
5
1
3
5
7
9

In [26]:
for i in range(11):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8
10

In [30]:
# Nested Loops

for i in range(1, 3):
    for j in range(1, 4):
        print(f"val of i: {i} and val of j: {j}")
        # formatted way of displaying

val of i: 1 and val of j: 1
val of i: 1 and val of j: 2
val of i: 1 and val of j: 3
val of i: 2 and val of j: 1
val of i: 2 and val of j: 2
val of i: 2 and val of j: 3

In [32]:
count = 0
while count%2 == 0:
    print(count)
    count = count+1

# sum of n natural numbers using for loop
sum = 0
for i in range(11):
    sum = sum+i    

print(sum)

#sum of n natural num using while loop
sum1 = 0
num = 1
while num<=10:
    sum1 = sum1 + num
    num = num + 1

print(sum1)

0
55
55

In [35]:
# print all prime numbers from 1 to 100

for i in range(1, 21):
    if i > 1:
        count = 0
        for j in range(i, 1, -1):
            if i%j == 0:
                count += 1
        if count == 1:
            print(i)

2
3
5
7
11
13
17
19

In [50]:
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [53]:
total = 0
while True:
    number = float(input("Enter a number (0 to stop): "))
    if number == 0:
        break
    total += number
print(f"The sum of all the numbers is {total}.")

The sum of all the numbers is 9.0.

In [55]:
#factorial of a number
fact = 1
num = int(input("Enter a num"))

while num>0:
        fact = fact * num    
        num -= 1

print(fact)

120

In [57]:
# Lists are ordered, mutable collection of items

listy = [1, 2.4, "Mitali", 10, 'a']
print(listy)
print(type(listy))

print(listy[2])
print(listy[-1])
#start, stop, step
print(listy[0:3:2])
print(listy[-1:-4:-1])

listy[1] = 5.7
print(listy)

[1, 2.4, 'Mitali', 10, 'a']
<class 'list'>
Mitali
a
[1, 'Mitali']
['a', 10, 'Mitali']
[1, 5.7, 'Mitali', 10, 'a']

In [58]:
# List methods

listy.append("orange")
print(listy)

listy.insert(1, "guava")
print(listy)

listy.remove("guava")
print(listy)

del listy[2]
print(listy)

[1, 5.7, 'Mitali', 10, 'a', 'orange']
[1, 'guava', 5.7, 'Mitali', 10, 'a', 'orange']
[1, 5.7, 'Mitali', 10, 'a', 'orange']
[1, 5.7, 10, 'a', 'orange']

In [59]:
fruits = ["orange", "apple", "cherry", "mango"]
print(fruits)
fruits.sort()
print(fruits)

fruits.reverse()
fruits

['orange', 'apple', 'cherry', 'mango']
['apple', 'cherry', 'mango', 'orange']

['orange', 'mango', 'cherry', 'apple']

In [60]:
# iterating through list

# retriving index using enumerate()
l1 = [2, 4, 6, 8, 10]
for ind, num in enumerate(l1):
    print(ind, num)

0 2
1 4
2 6
3 8
4 10

In [61]:
# list comprehension
# Syntax
# basic : [expression for item in iterable]
l2 = [x**2 for x in range(10)]
print(l2)

# conditional : [expression for item in iterable if condition]
[x for x in range(10) if x%2 == 0]

# Nested list comprehension : [expression for item1 in interable1 for item2 in iterable2]
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
pair = [[x, y] for x in list1 for y in list2]
print(pair)


words = ["my", "name", "is", "khan"]
length = [len(word) for word in words]
print(length)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]
[2, 4, 2, 4]

In [63]:
listy = list(range(1, 10))
print(listy)
# print middle elt
print(listy[len(listy)//2])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5

In [64]:
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [16, 18, 2, 1, 15, 12, 10, 3, 16, 9, 18, 19, 18, 9, 3]
Sorted in ascending order: [1, 2, 3, 3, 9, 9, 10, 12, 15, 16, 16, 18, 18, 18, 19]
Sorted in descending order: [19, 18, 18, 18, 16, 16, 15, 12, 10, 9, 9, 3, 3, 2, 1]
List with duplicates removed: [1, 2, 3, 9, 10, 12, 15, 16, 18, 19]

In [65]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row and third column: 6

In [66]:
nested_lst = [[1, 2, 3], [4, 5, 6]]

def flatten(nested):
    flat_list = [item for inner_lst in nested_lst for item in inner_lst]
    print(flat_list)

flatten(nested_lst)

[1, 2, 3, 4, 5, 6]

In [73]:
# Tuples are ordered, immutable collection of items

tpl = (1, "hello", 6, 5.5)
print(tpl)

print(tpl[2])
print(tpl[-3])

# immutable, so it won't work
# tpl[1] = "world"
# print(tpl)

(1, 'hello', 6, 5.5)
6
hello

In [95]:
# Tuple Methods

tupl = (1, 3, 5, 1, 8, 9, 5, 7, 1)

print(tupl.count(5))
print(tupl.count(1))
print(tupl.count(7))

print(tupl.index(8))

# unique elts of tuple using set method
print(set(tupl))

print(min(tupl))
print(max(tupl))
print(sum(tupl))

2
3
1
4
{1, 3, 5, 7, 8, 9}
1
9
40

In [83]:
# Packing and Unpacking Tuple

# packing
t = 1, 2, 3, (4, 5, 6)
print(t)

# unpacking
x, y, z, w = t
print(x)
print(y)
print(z)
print(w)

(1, 2, 3, (4, 5, 6))
1
2
3
(4, 5, 6)

In [90]:
# nested tuple

nest_tpl = (('a', 'b', 'c'), (4, 5, 6), (True, False, True))
print(nest_tpl)

print(nest_tpl[2][2])

# iterating thru nested tpl
for inner_tpl in nest_tpl:
     for item in inner_tpl:
          print(item, end = " ")

(('a', 'b', 'c'), (4, 5, 6), (True, False, True))
True
a b c 4 5 6 True False True

In [92]:
str = tuple("Hello")
print(str)

joined = ''.join(str)
print(joined)

('H', 'e', 'l', 'l', 'o')
Hello

In [2]:
# Sets are unordered collection of unique elemtnets
my_set = {1, 2, 3, 5, 6 , 4, 3}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [7]:
# Set operations

setty = {4, 6, 2, 8}
print(setty)
setty.add(10)
print(setty)

# remove gives error if elt mentioned isn't present in set
setty.remove(2)
print(setty)

# use discard for that
setty.discard(11)
print(setty)

# pop removes first elt like Queue
setty.pop()
print(setty)

{8, 2, 4, 6}
{2, 4, 6, 8, 10}
{4, 6, 8, 10}
{4, 6, 8, 10}
{6, 8, 10}

In [8]:
# set membership test
print(6 in setty)
print(4 in setty)

True
False

In [2]:
# Operations like Union, Intersection, Diff

set1 = {1, 3, 4, 5, 7, 8}
set2 = {2, 4, 6, 8}

print(set1.union(set2))

print(set1.intersection(set2))

set1.intersection_update(set2)

print(set1)

set3 = {3, 4, 5, 7}
set4 = {5, 7, 8, 9}

# diff - elts present in set1 but arent present in set2
print(set3.difference(set4))

# symmetric diff - unique elts from both sets are kept
print(set3.symmetric_difference(set4))

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 4}
{8, 4}
{3, 4}
{3, 4, 8, 9}

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

print(set1.issubset(set2))
print(set2.issubset(set1))

print(set1.issuperset(set2))

False
True
True

In [11]:
# Counting how many unique words are there in a set

text = "this is a sample sentence is a this"

words = text.split()
print(type(words))

unique_words = set(words)
print(unique_words)
print("Length of unique words are: ", len(unique_words))

<class 'list'>
{'sample', 'a', 'sentence', 'is', 'this'}
Length of unique words are:  5

In [12]:
# set comprehension
squares = {x**2 for x in range(1, 11)}
print(squares)

evens = {x for x in squares if x%2 == 0}
print(evens)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{64, 100, 4, 36, 16}

In [17]:
d = {
    frozenset({1, 3}): 2,
    frozenset({4, 9}): 5,
    frozenset({3, 10}): 7
    }

print(d)

{frozenset({1, 3}): 2, frozenset({9, 4}): 5, frozenset({10, 3}): 7}

In [23]:
# Dictionaries are unordered collection of key-val pairs 
# where key must be unique and immutable

dict = {"name": "Mitali",
        "Age": 21,
        "Course": "MCA"}

print(dict)

print(dict['name'])
print(dict['Course'])

print(dict.get("Age"))

# giving a default value for a key that isn't available
print(dict.get("College", "Not available"))

{'name': 'Mitali', 'Age': 21, 'Course': 'MCA'}
Mitali
MCA
21
Not available

In [25]:
# Modifying Dict - update, add, delete

dict["Age"] = 27
dict["country"] = "India"

print(dict)

del dict["Course"]
print(dict)

{'name': 'Mitali', 'Age': 27, 'Course': 'MCA', 'country': 'India'}
{'name': 'Mitali', 'Age': 27, 'country': 'India'}

In [26]:
print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['name', 'Age', 'country'])
dict_values(['Mitali', 27, 'India'])
dict_items([('name', 'Mitali'), ('Age', 27), ('country', 'India')])

In [34]:
# iterating thru dictionaries
print("Keys: ")
for key in dict.keys():
    print(key)

print("\nValues: ")
for val in dict.values():
    print(val)    

print("\nItems: ")  
for item in dict.items():
    print(item)

print("\nFormatted items: ")
for k, v in dict.items():
    print(f"{k} : {v}")

Keys:
name
Age
country

Values:
Mitali
27
India

Items:
('name', 'Mitali')
('Age', 27)
('country', 'India')

Formatted items:
name : Mitali
Age : 27
country : India

In [52]:
# Nested Dict

student = {
    "stud1" : {"name" : "Mitali", "id" : "25MCA0126"},
    "stud2" : {"name": "Adi", "id": "25MCA0127"}
}

print(student)

print(student["stud2"]["id"])

print("\n")

# iterating thru nested dict
for num, details in student.items():
    print(num)
    for key, val in details.items():
        print(f"{key} : {val}")

{'stud1': {'name': 'Mitali', 'id': '25MCA0126'}, 'stud2': {'name': 'Adi', 'id': '25MCA0127'}}
25MCA0127


stud1
name : Mitali
id : 25MCA0126
stud2
name : Adi
id : 25MCA0127

In [55]:
# dict comprehension

evens = {x: x**2 for x in range(1, 11) if x%2 == 0}
print(evens)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [60]:
# Count frequency of elts in a list

lst = ['a', 'a', 'a', 'b', 'b', 'f', 'f', 'g']
freq = {}

for num in lst:
    if num in freq:
        freq[num]+=1
    else:
        freq[num] = 1  

for k, v in freq.items():
    print(f"{k} : {v}")

a : 3
b : 2
f : 2
g : 1

In [62]:
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}

book_json = json.dumps(book)
print(book_json)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960, 'genre': 'Fiction'}
{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}

In [1]:
# Functions in Python

def add(a, b):
    return a+b

c = add(3, 7)
print(c)

10

In [2]:
# Positional arguments in Function

def printy(*args):
    for val in args:
        print(val)

printy(2, 5, 6, "abc")

2
5
6
abc

In [4]:
# Keyword arguments in Functions

def printkey(**kwargs):
    for key, val in kwargs.items():
        print(f"{key} : {val}")

printkey(name="Mitali", age=21, country="India")

name : Mitali
age : 21
country : India

In [5]:
# Password strength checker

def chk_pswd(password):
    if len(password) < 8:
        return False
    if not any (char.isdigit() for char in password ):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_-' for char in password):
        return False
    return True
# Can also return None to display nothing


chk_pswd("Abcd@123")

True

In [7]:
# Totaling price of items in cart

def price_total(cart):
    total = 0
    for items in cart:
        total += items['price'] * items['quantity']
    return total    

cart = [{'name': "Apple", 'price': 5, 'quantity': 3},
        {'name': "Ball", 'price': 50, 'quantity': 5},
        {'name': "Cap", 'price': 300, 'quantity': 2}]    

print(price_total(cart))

865

In [9]:
# Check string is palindrome

s = "Hello world dlrow olleH"

def chk_palin(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(chk_palin(s))

True

In [23]:
# FILE OPERATIONS
with open('example.txt', 'r') as file:
    # method 1 of displaying
    for line in file:
        print(line.strip())
    
    # method 2 of displaying
    content = file.read()
    print(content)

hello my name is mitali
i am 21 yrs old

In [25]:
# Overwriting the file
with open('example.txt', 'w') as file:
    file.write("hello again")

In [29]:
# appending to file

with open('example.txt', 'a') as file:
    file.write("Not overwiring just appending\n")
    file.write("Its a new world\n")

In [30]:
with open('example.txt', 'r') as file:
    print(file.read())

hello againNot overwiring just appendingNot overwiring just appending
Its a new world
Not overwiring just appending
Its a new world
Not overwiring just appending
Its a new world

In [31]:
# appending multiple lines

lines = ["first\n", "second\n", "third\n"]

with open('example.txt', 'a') as file:
    file.writelines(lines)

In [32]:
with open('example.txt', 'r') as file:
    print(file.read())

hello againNot overwiring just appendingNot overwiring just appending
Its a new world
Not overwiring just appending
Its a new world
Not overwiring just appending
Its a new world
first
second
third

In [35]:
import os
items = os.listdir('.')
print(items)

['basics.ipynb', '.DS_Store', 'assignment_solution', 'requirements.txt', 'sample.ipynb', 'learn.py', 'example.txt', 'venv']

In [39]:
# Exception Handling

# custom msg
try:
    a = b
except:
    print("Var not assigned")    

# specific error class msg
try:
    a = b
except NameError as exc:
    print(exc) 

# general exception class msg
try:
    a = b
except Exception as exc:
    print(exc)

Var not assigned
name 'b' is not defined
name 'b' is not defined

In [45]:
# OOPS in Python

class Car:
    # _init_ is a constructor
    # self is like this keyword to access the class instance 
    def __init__(self, name, doors):
        self.name = name
        self.doors = doors

kia = Car("Seltos", "4")
print(type(kia))  
print(kia.name, "," , kia.doors)

<class '__main__.Car'>
Seltos , 4

In [3]:
class dog:
    # default age is 1
    def __init__(self, name, age = 1):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} is barking")   

dog1 = dog('Lucy', 2)
dog2 = dog('Bobby')

print(dog2.age)
dog1.bark()
dog2.bark()

1
Lucy is barking
Bobby is barking

In [4]:
# designing a bank account in OOPs

class account:
    def __init__(self, owner, bal = 0):
        self.owner = owner
        self.bal = bal


    def deposit(self, amt):
        self.bal+=amt 
        print(f"{amt} is deposited. New balance is {self.bal}")


    def withdraw(self, amt):
        if amt>self.bal:
            print("Low balance")
        else:
            self.bal -= amt
            print(f"{amt} is withdrawn. New balance is {self.bal}")  

    def chkbal(self):
        print(f"Current balance is {self.bal}")


cust1 = account('Mitali', 500)
cust1.chkbal()
cust1.deposit(200)
cust1.withdraw(100)

Current balance is 500
200 is deposited. New balance is 700
100 is withdrawn. New balance is 600