We will be predicting the Fire Weather Index (FWI), a numerical rating representing potential wildfire intensity, based on weather conditions like temperature, wind speed, relative humidity, and precipitation. A higher FWI indicate greater fire danger, increased spread rates, and harder suppression.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

Use header=1 to not consider the first row.

In [5]:
dataset = pd.read_csv('datasets/Algerian_Forest_Fire.csv', header = 1)
dataset.head()

  day month  year Temperature  RH  Ws  ...  DMC    DC  ISI  BUI  FWI    Classes
0  01    06  2012          29  57  18  ...  3.4   7.6  1.3  3.4  0.5  not fire
1  02    06  2012          29  61  13  ...  4.1   7.6    1  3.9  0.4  not fire
2  03    06  2012          26  82  22  ...  2.5   7.1  0.3  2.7  0.1  not fire
3  04    06  2012          25  89  13  ...  1.3   6.9    0  1.7    0  not fire
4  05    06  2012          27  77  16  ...    3  14.2  1.2  3.9  0.5  not fire

[5 rows x 14 columns]

In [10]:
dataset.shape

(246, 14)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

## Data Cleaning

In [9]:
dataset.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [14]:
# To retrive only the rows have any null value
dataset[dataset.isnull().any(axis=1)]

                               day month  year  ...   BUI      FWI Classes
122  Sidi-Bel Abbes Region Dataset   NaN   NaN  ...   NaN      NaN       NaN
167                             14    07  2012  ...  10.4  fire          NaN

[2 rows x 14 columns]

The dataset contains data from two regions and is split from the 122nd row as we can see above. To make it easier to train the model we will create a new feature called "region" which will indicate which region the data belongs from - Bejaija Region(0) or Sidi-Bel Abbes Region(1)

In [20]:
dataset.loc[:122, 'Region'] = 0
dataset.loc[122:, 'Region'] = 1
df = dataset

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       246 non-null    float64
dtypes: float64(1), object(14)
memory usage: 29.0+ KB

In [22]:
df[['Region']] = df[['Region']].astype('int')
df.head()

  day month  year Temperature  RH  Ws  ...    DC  ISI  BUI  FWI    Classes   Region
0  01    06  2012          29  57  18  ...   7.6  1.3  3.4  0.5  not fire         0
1  02    06  2012          29  61  13  ...   7.6    1  3.9  0.4  not fire         0
2  03    06  2012          26  82  22  ...   7.1  0.3  2.7  0.1  not fire         0
3  04    06  2012          25  89  13  ...   6.9    0  1.7    0  not fire         0
4  05    06  2012          27  77  16  ...  14.2  1.2  3.9  0.5  not fire         0

[5 rows x 15 columns]